/* Universal Styles */

body {
    text-align: center;
    font-size: 16px;
}

/* Header Styles */

header {
    display: flex;
    height: 150px;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

nav a {
    text-decoration: none;
}

